.login-form{
    max-width: 500px;
    min-width: 500px;
    max-height: 700px;
    width: 100%;
    height: 60%;
    margin: 100px auto;
    background-color:lightgreen;
  
  }
  .headerTitle{
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
    background-color: black;
  }
  .mb-4{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    font-weight: 900;
    color: black;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
  }
  .mb-4:focus{
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
    outline: none;
 }
 
 .mb-4::-webkit-input-placeholder{
   opacity: 1;
   transition: opacity 0.25s ease-out;
 }
 
 .mb-4:hover::-webkit-input-placeholder,
 .mb-4:focus::-webkit-input-placeholder{
   opacity: 0;
 }
 .button7{
    border-radius: 25px;
    width: 50%;
    margin-left:25%;
    margin-right:25%;
    height: 30px;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    padding-bottom: 1.5rem;
    align-items: center;
    padding-top: 5px;  
} 

 