body{
  background-color: rgb(245, 226, 120);
}

.logform{
  max-width: 500px;
  min-width: 500px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color:rgb(100, 247, 247);
  border-radius: 25px;
}
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
.contain {
  padding: 16px;
  background-color: white;
}
.mb-3 {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-weight: 1000;
}
